<footer class="footer-out-container footer-home-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <h5>Investors</h5>
        <ul>
          <li><a href="https://vales.agfunder.com/how-it-works">How it Works</a></li>
          <li><a href="https://vales.agfunder.com/evaluating-companies">Evaluating Companies</a></li>
          <li><a href="https://vales.agfunder.com/investor-faq">Investor FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <h5>Companies</h5>
        <ul>
          <li><a href="https://vales.agfunder.com/how-it-works">How it Works</a></li>
          <li><a href="https://vales.agfunder.com/company-faq">Company FAQ</a></li>
          <li><a href="https://vales.agfunder.com/submit-application">Submit Application</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <h5>About Us</h5>
        <ul>
          <li><a href="https://vales.agfunder.com/about-us">Our Team</a></li>
          <li><a href="http://blog.agfunder.com/">Blog</a></li>
          <li><a href="https://vales.agfunder.com/reports">Reports</a></li>
          <li><a href="https://vales.agfunder.com/terms-of-use">Terms Of Use</a></li>
          <li><a href="https://vales.agfunder.com/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <h5>Contact us</h5>
        <ul>
          <li><a href="http://agfunder.teamtailor.com/" target="_blank">Careers</a></li>
          <li><a href="mailto:info@agfunder.com">info@agfunder.com</a></li>
          <li><a href="mailto:media@agfunder.com">media@agfunder.com</a></li>
          <li><a href="mailto:support@agfunder.com">support@agfunder.com</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="row">
          <div class="connect-with col-xs-12">
            <h5>Connect with us</h5>
            <a href="https://www.facebook.com/pages/AgFundercom/367257356698587" class="fb">Facebook</a>
            <a href="https://twitter.com/AgFunder" class="tw">Twitter</a>
            <a href="https://plus.google.com/+Agfunder" rel="publisher" class="gplus">Google+</a>
            <a href="https://news.google.com/news?q=agfunder&amp;output=rss" class="rss">RSS</a>
          </div>
          <div class="mixpanel col-md-12 col-xs-12">
            <a href="https://mixpanel.com/f/partner">
              <img src="img/badge_blue.png" alt="Mobile Analytics">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <p>This site is operated by AgFunder
          Inc.,"AgFunder", which is not a registered broker-dealer. AgFunder does
          not give investment advice, endorsement, analysis or recommendations
          with respect to any securities. All securities listed here are being
          offered by, and all information included on this site is the
          responsibility of, the applicable issuer of such securities. AgFunder
          has not taken any steps to verify the adequacy, accuracy, or
          completeness of any information. Neither AgFunder nor any of its
          officers, directors, agents and employees makes any warranty, express or
          implied, of any kind whatsoever related to the adequacy, accuracy or
          completeness of any information on this site of the use of information
          on this site. By accessing this site and any pages thereof, you agree to
          be bound by the <a href="https://vales.agfunder.com/terms-of-use">Terms of Use</a> and <a
            href="https://vales.agfunder.com/privacy-policy">Privacy Policy</a>.</p>
      </div>
    </div>
  </div>
</footer>
