<header class="main-header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://vales.agfunder.com/">
          <img alt="Agfunder Logo" src="img/agfunder_logo_245w_white_text_no-bg.png">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://vales.agfunder.com/listings/">Investments</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="https://vales.agfunder.com/how-it-works/">
              How it Works <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="">
                <a href="https://vales.agfunder.com/evaluating-companies/"><span>Evaluating Companies</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="https://vales.agfunder.com/about-us/">
              About <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="">
                <a href="https://vales.agfunder.com/faq/investor-faq/"><span>Investor-FAQ</span></a>
              </li>
              <li class="">
                <a href="https://vales.agfunder.com/faq/convertible-notes/"><span>Convertible Notes</span></a>
              </li>
              <li class="">
                <a href="https://vales.agfunder.com/faq/syndicates-faq/"><span>Syndicates Faq</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="https://vales.agfunder.com/news/">
              News <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="">
                <a href="https://vales.agfunder.com/news/news_center/"><span>News Center</span></a>
              </li>
              <li class="">
                <a href="https://vales.agfunder.com/news/press_center/"><span>Press Center</span></a>
              </li>
            </ul>
          </li>
          <li><a href="https://vales.agfunder.com/research/">Research</a></li>
          <!--<a href="/accounts/signup/?next=/listings/">Registration</a>-->
          <li><a href="https://vales.agfunder.com/register/">Register</a></li>
          <li><a href="https://vales.agfunder.com/accounts/login/?next=/listings/">Login</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
