@import "../vars.scss";
@import "../mixins.scss";

.btn--big {
  height: 50px;
}

.btn--upper {
  text-transform: uppercase;
  font-weight: 600;
}

.btn--away {
  color: white;
  background-color: hsl(0, 0%, 18%);
  &:hover {
    color: white;
  }
}

.btn-success {
  background-color: $link-color;
}

.btn--linkedin {
  padding: 13px 12px;
  font-weight: 600;

  &__logo {
    position: relative;
    bottom: 3px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
  }
}
