@import "../vars.scss";
@import "../mixins.scss";
/////////////// Rewrite bootstrap style ///////////////

.btn-success {
  background-color: $link-color;
  &:hover {
    background-color: $link-hover-color;
    border-color: $link-hover-color;
  }
}

.btn-info {
  background-color: $info-color;
  &:hover {
    background-color: $info-color--hover;
    border-color: $info-color--hover;
  }
}

.btn-warning {
  background-color: $warning-color;
  &:hover {
    background-color: $warning-color--hover;
    border-color: $warning-color--hover;
  }
}

//////////////////Custom buttons///////////////////////

.btn--away {
  color: white;
  background-color: $away-color;
  &:hover {
    color: white;
    background-color: $link-hover-color;
    border-color: $link-hover-color;
  }
}

.btn--big {
  height: 50px;
}
.btn--large {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn--upper {
  text-transform: uppercase;
  font-weight: 600;
}

.btn--linkedin {
  padding: 13px 12px;
  font-weight: 600;

  &__logo {
    position: relative;
    bottom: 3px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
  }
}

.btn--w364 {
  max-width: 364px;
}

//for 1024px resolution
.btn__create {
  //Magic number for 1024px resolution
  min-width: 146px;
}

