@import "../vars.scss";
@import "../mixins.scss";

// .custom-radio {
//   display: block;
//   margin-bottom: 30px;
//   font-weight: 400;
//   color: hsl(0, 0%, 14%);
//   cursor: pointer;

//   &:hover {
//     color: $link-color;
//     &:before {
//       background-color: $link-color;
//     }
//   }

//   &:before {
//     content: "";
//     display: inline-block;
//     vertical-align: bottom;
//     margin-right: 12px;
//     $size: 20px;
//     width: $size;
//     height: $size;
//     border-radius: 50%;
//     border: 1px solid black;
//   }
// }

// .custom-radio__hidden-radio {
//   position: absolute;
//   opacity: 0;
// }

// .custom-radio__hidden-radio::choices + .custom-radio::before {
//   background-color: red;
// }
//radiobuttons

.custom-checkbox__hidden-checkbox,
.custom-radio__hidden-radio {
  display: none;
}

.custom-radio__hidden-radio + label:before {
  content: '\e80f';
  position: relative;
  top: 2px;
  display: inline-block;
  margin-top: -5px;
  margin-right: 10px;
  font-family: $icon-font;
  color: $color-grey-dark;
  font-size: 22px;
  cursor: pointer;
  transition-duration: 1s;
}

.custom-radio__hidden-radio:checked + label:before {
  content: '\e80e';
  font-family: $icon-font;
  color: $link-color;
  font-size: 22px;
}

.custom-radio__hidden-radio:checked + label {
  color: $link-color;
}

.custom-radio {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
}

label.custom-radio:last-of-type {
  margin-bottom: 0;
}
