@import "../vars.scss";
@import "../mixins.scss";

/*
///////////////////// Navbar /////////////////////
*/

.navbar {
  background: url(../img/navbar.png) repeat;
  height: 63px;
  background-color: #222;
}

.navbar-brand {
  width: 140px;
  height: 44px;
  margin-top: -5px;
  padding: 15px 0;
}

.navbar-brand > img {
  width: 127px;
  height: 45px;
}

.navbar .navbar-right {
  margin-bottom: 0;
}

.navbar .navbar-nav > li {
  display: inline-block !important;
  margin-right: 14px;
  padding-left: 8px;
  line-height: 66px;
}

.navbar .navbar-nav > li > a {
  display: inline-block;
  padding: 0;
  color: #c2c5c9;
  font-size: 15px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .75);
}

.navbar .navbar-nav > li > a:hover {
  border-bottom: 2px solid #6BBA51;
  text-decoration: none;
  color: #fff;
}

.navbar-collapse {
  background: url(../img/navbar.png) repeat;
}

/*
////////////////// Dropdown menu //////////////////
*/

.dropdown-menu > li > a {
  color: white;
  background-color: black;
}

.dropdown-menu {
  background-color: black;
  background: url('/static/img/navbar.png') repeat;
}
