@import "../vars.scss";
@import "../mixins.scss";

.intro {
  height: 272px;
  color: white;
  background-color: hsl(0, 0%, 28%);
  @include laptop {
    margin-bottom: 30px;
  }
  @include tablet {
    margin-bottom: 20px;
  }
  @include mobile {
    margin-bottom: 5px;
  }
}

.intro--margin-b-0 {
  margin-bottom: 0;
}

.intro--bg-grass {
  background-image: url(../img/grass-bg.png);
}

.intro--bg-combine {
  //background-image: url(../img/);
}

.intro__title {
  font-family: $title-font;
  font-weight: bold;
  @include laptop {
    margin-top: 37px;
    margin-bottom: 16px;
    font-size: 61px;
  }
  @include tablet {
    margin-top: 50px;
    margin-bottom: 22px;
    font-size: 48px;
  }
  @include mobile {
    margin-top: 25px;
    margin-bottom: 18px;
    font-size: 30px;
  }
}

.intro__title--news {
  @include laptop {
  margin-top: 55px;
  margin-bottom: 20px;
  }
}

.intro__subtitle {
  margin-bottom: 40px;
  @include mobile {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.25em;
  }

  &--big {
    font-size: 20px;
  }
}

.intro__steps-wrap .intro__step:first-child {
  margin-right: 25px;
  @include mobile {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.intro__step {
  display: inline-block;
  font-size: 18px;
  @include mobile {
    display: block;
  }
}

.intro__round-number {
  $size: 30px;
  display: inline-block;
  width: $size;
  height: $size;
  margin-right: 13px;
  padding-top: 2px;
  border: 1px solid white;
  border-radius: $size / 2;
}

.intro__round-number--required {
  color: hsl(105, 43%, 52%);
  border-color: hsl(105, 43%, 52%);
}

.intro__round-number--done {
  width: 42px;
  background-color: $link-color;
  border-color: $link-color;

  &:before {
    content: "";
    position: relative;
    top: -2px;
    display: inline-block;
    width: 7px;
    height: 10px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    margin-right: 4px;
  }
}


