@import "../vars.scss";
@import "../mixins.scss";

.intro {
  height: 272px;
  margin-bottom: 30px;
  color: white;
  background-color: hsl(0, 0%, 28%);
  @media (max-width: $tablet-max) {
    margin-bottom: 20px;
  }
  @media (max-width: $mobile-max) {
    margin-bottom: 5px;
  }
}

.intro--bg-grass {
  background-image: url(../img/grass-bg.png);
}

.intro__title {
  margin-top: 37px;
  margin-bottom: 16px;
  font-family: $heading-font;
  font-weight: bold;
  font-size: 61px;
  @media (max-width: $tablet-max) {
    margin-top: 50px;
    margin-bottom: 22px;
    font-size: 48px;
  }
  @media (max-width: $mobile-max) {
    margin-top: 25px;
    margin-bottom: 18px;
    font-size: 30px;
  }
}

.intro__subtitle {
  margin-bottom: 40px;
  @media (max-width: $mobile-max) {
    font-size: 16px;
    line-height: 1.25em;
    margin-bottom: 15px;
  }
}

.intro__steps-wrap .intro__step:first-child {
    margin-right: 25px;
  @media (max-width: $mobile-max) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.intro__step {
  display: inline-block;
  font-size: 18px;
  @media (max-width: $mobile-max) {
    display: block;
  }
}

.intro__round-number {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 13px;
}

.intro__round-number--required {
  color: hsl(105, 43%, 52%);
  border-color: hsl(105, 43%, 52%);
}
