@import "../vars.scss";
@import "../mixins.scss";

.news-text {
  font-size: 18px;
  line-height: 22px;
}

.faq-content {
  margin-bottom: 100px;
}

.form-bg {
  position: relative;
  background-color: $color-grey-lighter;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border-radius: 5px;
  @include tablet {
    padding: 10px;
  }
}

.form-bg__close {
  border: 0;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  font-weight: 900;
  z-index: 10;
  &:focus {
    outline: none;
  }
}


// iconfont
@font-face {
  font-family: 'agfunder-font';
  src: url('../fonts/agfunder-font.eot?40008222');
  src: url('../fonts/agfunder-font.eot?40008222#iefix') format('embedded-opentype'),
  url('../fonts/agfunder-font.woff2?40008222') format('woff2'),
  url('../fonts/agfunder-font.woff?40008222') format('woff'),
  url('../fonts/agfunder-font.ttf?40008222') format('truetype'),
  url('../fonts/agfunder-font.svg?40008222#agfunder-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
// radiobuttons
input[type="radio"],
input[type=checkbox] {
  display: none;
}

input[type=radio] + label:before{
  color: $color-grey-dark;
  content: '\e80f';
  width: 21px;
  cursor: pointer;
  display: inline-block;
  font-family: $icon-font;
}
input[type=radio]:checked +label:before {
  color: $main-color;
  content: '\e80e';
  width: 21px;
  display: inline-block;
  font-family: $icon-font;
}
input[type=radio]:checked +label{
  color: $main-color;
}

//checkeboxes
input[type=checkbox] + label{
  font-family: $main-font;
  font-size: 14px;
  border: 1px solid $color-grey;
  padding: 15px 30px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;

  &:hover{
    background:  $link-hover-color;
    color: #fff;
  }
}
input[type=checkbox] + label:before {
  color: #fff;
  background:$main-color;
  content: '';
  display: inline-block;
  font-family: $icon-font;
}

input[type=checkbox]:checked + label:before {
  color: #fff;
  background:$main-color;
  content: '\e80c';
  width: 21px;
  display: inline-block;
  font-family: $icon-font;
}

input[type=checkbox]:checked + label{
  background:$main-color;
  border: none;
  color: #fff;
}*/


